body{
	background: white;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#home{
	max-width: 500px;
	height: 750px;
	background: #008080;
	text-align: center;
	margin: 100px auto;
	border-radius: 10px;
	box-shadow: -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

#home img{
	width: 170px;
	height: 170px;
	margin: 50px;
	border-radius: 100px;
}

#home p{
	letter-spacing: 1px;
	margin-top: -40px;
	font-size: 19px;
	font-family: 'Josefin Sans', sans-serif;
	
}

#home button{
	width: 400px;
	height: 50px;
	margin: 10px;
	padding: auto;
	background: white;
	cursor: pointer;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	border-radius: 5px;
	border-color: white;
}

#home button:hover{
	background: #f4f4f4;
}

#home i{
	width: 30px;
	height: 30px;
	display: absolute;
	background: white;
	border-radius: 3px;
	margin: 30px 15px;
}

#home i:hover{
	background: #f4f4f4;
}

.fab{
	padding: 7px;
	color: #008080;
}

